---
import courses from '../data/courses.json';
---

<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MédiasU — Notas de Acesso ao Ensino Superior</title>
  </head>
  <body>
    <h1>Notas de Acesso 2024</h1>
    <p>{courses.length} cursos encontrados</p>

    <ul>
      {courses.map((course) => (
        <li>
          <strong>{course.curso}</strong> — {course.universidade} — {course.nota_2024}
        </li>
      ))}
    </ul>
  </body>
</html>